<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please sign in</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <h3 style="color: red;">{{ auth_error }}</h3>
        <input type="text" placeholder="Type your name" name="userName">
        <input type="password" placeholder="Type your password" name="password">
        <button type="submit">Sign In</button>
    </form>
</body>
</html>