<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <h1>Nice to meet you in this fantastic application</h1>
    <h3>Please feel free:</h3>
    <a href="{% url 'authentication:login' %}">Sign In</a>
    <h3>OR</h3>
    <a href="{% url 'authentication:signup' %}">Sign Up</a>
</body>
</html>